<% layout('/layouts/boilerplate') -%>
<div class="row">
    <div class="offset-1 col-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 mt-3 mt-md-4">
        
        <div class="intro text-center">
            <h2 class="shady">Edit <%=farm.name %></h2>
            <i class="fas fa-ellipsis-h"></i>
        </div>

        <!--I love you, Ma!    -->
        <form method="POST" action="/farms/<%=farm._id%>?_method=PUT" novalidate class="validated-form" enctype="multipart/form-data">
            
            <div class="mb-3">
                <label class="form-label" for="name">Farm name</label>
                <div class="input-group">
                    <span class="input-group-text" id="name"><small><i class="fas fa-warehouse text-primary"></i></small></span>
                    <input class="form-control" id="name" type="text" name="farm[name]" value="<%=farm.name%>" required>
                    <div class="invalid-feedback">
                        Please provide a name for your farm.
                    </div>
                </div>
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <div class="input-group">
                    <span class="input-group-text" id="location"><small><i class="fas fa-map-marker-alt text-primary"></i></small></span>
                    <input class="form-control" id="location" type="text" name="farm[location]" value="<%=farm.location%>"
                    required>
                    <div class="invalid-feedback">
                        Please provide your farm's precise location.
                    </div>
                </div>
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="contact">Contact email</label>
                <div class="input-group">
                    <span class="input-group-text" id="contact"><small><i class="fas fa-at text-primary"></i></small></span>
                    <input class="form-control" id="contact" type="email" name="farm[contact]" value="<%=farm.contact%>" required>
                    <div class="invalid-feedback">
                        Email address is required.
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="about">About</label>
                <div class="input-group">
                    <span class="input-group-text" id="about"><small><i class="fas fa-file text-primary"></i></small></span>
                    <textarea class="form-control" id="about" type="text" name="farm[about]" required><%=farm.about%></textarea>
                    <div class="invalid-feedback">
                        Please provide more info about your farm.
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="photo">Add more photos</label>
                <div class="input-group">
                    <span class="input-group-text" id="photo"><i class="fas fa-image text-primary"></i></span>
                    <input class="form-control" id="photo" type="file" name="photo" placeholder="Photo(s)"
                    value="<%=farm.photo%>" multiple>
                </div>
            </div>

            <div class="mb-3 row">
                <p class="text-muted">Check photo to remove it.</p>
                <% farm.photos.forEach(function(photo, i){ %>
                    <div class="col-6 col-md-4 text-center">
                        <img src="<%= photo.thumbnail %>" alt="">
                        <div class="form-check">
                            <input class="form-check-input mx-auto" type="checkbox" id="photo-<%=i%>" name="deletePhotos[]" value="<%=photo.filename%>">
                            <label class="form-check-label mx-auto" for="photo-<%=i%>">
                            
                            </label>
                        </div>
                    </div>
                <% }) %> 
            </div>
            
            <div class="mb-3">
                <button class="form-control btn-primary my-4"><i class="fas fa-check"></i> Save Updates</button>
                <hr>
            </div>
        </form>
        <a class="btn btn-primary btn-sm mt-2" href="/farms/<%=farm._id%>"><i class="fas fa-arrow-circle-left"></i> Back</a>
    </div>
</div>
